# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
MC源代码
run/*
!run/config/economy_system
run-data
run2

# Files from Forge MDK
forge*changelog.txt
